@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

.url {
    font-size: 32px;
}

h1 {
    color: #fff;
    text-align: center;
    background-color: rgba(30,30,30,0.5);
    font-family: 'JetBrains Mono', monospace;
    padding: 150px 25%;
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}